<!--
<ul class="cars">
<li *ngFor="let car of cars">
    <button [class.selected]="car === selectedCar" type="button" (click)="onSelect(car)">
      <span class="badge">{{car.id}}</span>
      <span class="name">{{car.brand}}</span>
    </button>
      <span class="carattr">{{car.model}}</span>
      <span class="carattr">{{car.licenceNumber}}</span>
      <span class="carattr">{{car.status}}</span>
    
  </li>
</ul>
-->
<div>
  <br/>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
            <th scope="col">Type</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let car of cars">
        <td scope="row"><a routerLink="/car/detail/{{car.id}}"><span class="badge">Edit</span></a></td>
        <td>{{ car.brand}}</td>
        <td>{{ car.model}}</td>
            <td>{{ car.type}}</td>
        <td>{{car.status}}</td><nav></nav>
      </tr>  
    </tbody>

</table>
</div>